pyrofork==2.3.45
Tgcrypto
pymongo[srv]==4.6.3
marshmallow==3.20.1
motor==3.3.2
umongo==3.1.0
requests==2.32.3
bs4
aiohttp==3.9.5
httpx==0.27.0
pytz
psutil==5.9.8
aiofiles
datetime
git+https://github.com/Joelkb/cinemagoer
